@charset "UTF-8";
/*Обнуленння*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
:has(:target) {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

input {
    outline: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

:where(address[class]) {
    font-style: normal;
}

button,
label {
    cursor: pointer;
}

svg * {
    transition-property: fill, stroke;
}

/* del all animatiaon if people don`t use it*/
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/*----------------*/

body {
    margin: 0;
    background: #222;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-container {
    width: 90vh;
    height: 90vh;
    background: #eee;
    position: relative;
    margin-top: 20px;
    border: 5px solid #444;
    overflow: hidden;
}

#ui {
    color: white;
    margin-top: 10px;
    text-align: center;
}
#messages {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #aaa;
    font-size: 14px;
}

#game-container {
    position: relative;
    width: 800px;
    height: 800px;
    background: #333;
    overflow: hidden;
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #00ffcc;
    border: 2px solid white;
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-name {
    font-size: 10px;
    color: white;
    position: absolute;
    top: -15px;
    white-space: nowrap;
}

.platform {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
